---
import { Image } from 'astro:assets'
import coldCoffeeDrinksImage from '../images/cold-coffee-based-drinks-cup.png'
import coldTeaDrinksImage from '../images/cold-tea-drink-glass-flavor.png'
import macaronBitesImage from '../images/macarons-bites-dessert-snack.png'
import ourMissionBackground from '../images/house-coffee-cafe-order-menu.jpg'
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
import Carousel2 from '../components/Carousel2.astro'
---

<Layout title="7 Leaves Cafe - Be The Change">
  <div
    class="m-0 grid h-screen justify-items-stretch p-0 text-center md:grid-cols-3"
  >
    <div class="relative flex h-screen md:col-span-3">
      <Carousel />
    </div>
    <div class="relative m-0 h-80 cursor-pointer md:col-span-1">
      <div
        class="shrink-bg m-0 h-full w-full origin-left bg-[#D9D8CD] p-5 hover:scale-x-95 hover:scale-y-90"
      >
      </div>
      <h3 class="absolute left-10 top-10 text-left text-white">
        <a class="no-underline">COFFEE</a>
      </h3>
      <Image
        src={coldCoffeeDrinksImage}
        alt="cold coffee based drinks"
        class="pointer-events-none absolute bottom-0 right-0 w-4/5"
        format="webp"
      />
    </div>
    <div class="relative m-0 h-80 cursor-pointer md:col-span-1">
      <div class="shrink-bg m-0 h-full w-full bg-[#D7D4B4] p-5 hover:scale-90">
      </div>
      <h3 class="absolute left-10 top-10 text-left text-white">
        <a class="no-underline">TEA</a>
      </h3>
      <Image
        src={coldTeaDrinksImage}
        alt="cold tea drinks"
        class="pointer-events-none absolute bottom-0 right-0 w-4/5"
        format="webp"
      />
    </div>
    <div class="relative m-0 h-80 cursor-pointer md:col-span-1">
      <div
        class="shrink-bg m-0 h-full w-full origin-right bg-[#AF1E26] p-5 hover:scale-x-95 hover:scale-y-90"
      >
      </div>
      <h3 class="absolute left-10 top-10 text-left text-white">
        <a class="no-underline">BITES</a>
      </h3>
      <Image
        src={macaronBitesImage}
        alt="macarons bites dessert snack"
        class="pointer-events-none absolute bottom-0 right-0 w-4/5"
        format="webp"
      />
    </div>
    <div class="relative h-[445px] overflow-hidden md:col-span-3">
      <Image
        src={ourMissionBackground}
        alt="house coffee cafe order menu background"
        class="pointer-events-none w-full"
        format="webp"
      />
      <div
        class="absolute left-1/2 top-1/2 w-2/5 -translate-x-1/2 -translate-y-1/2"
      >
        <h5 class="py-5 text-[26px] text-[#af1e26]">OUR MISSION</h5>
        <h6 class="text-[29px]">
          "To enrich the human experience by serving the very best coffee, tea
          and goodness in every cup, every community."
        </h6>
      </div>
    </div>
    <div class="justify-self-center md:col-span-3">
      <Carousel2 />
    </div>
    <div class="jusitfy-self-center grid-cols-2 md:col-span-3 md:grid">
      <div class="bg-blue-100 p-4 md:col-span-1">mobile image</div>
      <div class="bg-blue-100 p-4 md:col-span-1">
        list of mobile app features
      </div>
      <div class="bg-teal-200 md:col-span-1">welcome home</div>
      <div class="bg-teal-200 md:col-span-1">welcome home image</div>
    </div>
    <div class="bg-yellow-200 md:col-span-1">community</div>
    <div class="bg-yellow-200 md:col-span-1">location</div>
    <div class="bg-yellow-200 md:col-span-1">menu</div>
    <div class="bg-purple-300 md:col-span-3">newsletter</div>
  </div>
</Layout>

<style>
  @font-face {
    font-family: 'SharpSansDispNo2-Book';
    src: url('/fonts/SharpSansDispNo2-Book.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SharpSansDispNo2-Bold';
    src: url('/fonts/SharpSansDispNo2-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SharpSansDispNo2-Semibold';
    src: url('/fonts/SharpSansDispNo2-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .shrink-bg {
    transition: transform 0.25s;
  }
  /* .shrink-bg:hover {
    cursor: pointer;
    transform: scale(0.95, 0.9);
  } */

  .hero-background-overlay {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 30% 100%;
    transform: scale(1.3);
  }

  .hero-text-content-container {
    max-width: 80%;
  }

  .hero-text-content-subcontainer {
    background-position: 50%;
    padding: 100px;
  }

  .hero-text-content {
    max-width: 65%;
    line-height: 1.5;
  }
  h1 {
    font-family: 'SharpSansDispNo2-Bold', sans-serif;
    font-size: 60px;
    margin: 8px 0px 30px;
    line-height: 60px;
  }

  h3 {
    font-family: 'SharpSansDispNo2-Bold', sans-serif;
    font-size: 1.75rem;
  }

  h5 {
    font-family: 'SharpSansDispNo2-Bold', sans-serif;
    font-size: 1.3rem;
  }
  .hero-house-coffee-description {
    font-family: 'SharpSansDispNo2-Book', sans-serif;
    font-weight: normal;
    font-size: 17px;
    margin: 0px 0px 30px;
  }

  .house-coffee-text-bold {
    font-family: 'SharpSansDispNo2-Semibold', sans-serif;
    font-size: 17px;
  }
</style>
