---
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
---

<Layout title="7 Leaves Cafe - Be The Change">
  <div
    class="m-0 grid h-screen justify-items-stretch gap-4 p-0 text-center md:grid-cols-3"
  >
    <div class="relative flex h-screen md:col-span-3">
      <Carousel />
    </div>
    <div class="h-screen bg-orange-300 md:col-span-1">coffee</div>
    <div class="h-screen bg-orange-300 md:col-span-1">tea</div>
    <div class="h-screen bg-orange-300 md:col-span-1">bites</div>
    <div class="h-screen bg-green-300 md:col-span-3">our mission</div>
    <div class="justify-self-center md:col-span-3">
      <!-- <Carousel /> -->
    </div>
    <div class="jusitfy-self-center grid-cols-2 md:col-span-3 md:grid">
      <div class="bg-blue-100 p-4 md:col-span-1">mobile image</div>
      <div class="bg-blue-100 p-4 md:col-span-1">
        list of mobile app features
      </div>
      <div class="bg-teal-200 md:col-span-1">welcome home</div>
      <div class="bg-teal-200 md:col-span-1">welcome home image</div>
    </div>
    <div class="bg-yellow-200 md:col-span-1">community</div>
    <div class="bg-yellow-200 md:col-span-1">location</div>
    <div class="bg-yellow-200 md:col-span-1">menu</div>
    <div class="bg-purple-300 md:col-span-3">newsletter</div>
  </div>
</Layout>

<style>
  @font-face {
    font-family: 'SharpSansDispNo2-Book';
    src: url('/fonts/SharpSansDispNo2-Book.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SharpSansDispNo2-Bold';
    src: url('/fonts/SharpSansDispNo2-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SharpSansDispNo2-Semibold';
    src: url('/fonts/SharpSansDispNo2-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .hero-background-overlay {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 30% 100%;
    transform: scale(1.3);
  }

  .hero-text-content-container {
    max-width: 80%;
  }

  .hero-text-content-subcontainer {
    background-position: 50%;
    padding: 100px;
  }

  .hero-text-content {
    max-width: 65%;
    line-height: 1.5;
  }
  h1 {
    font-family: 'SharpSansDispNo2-Bold', sans-serif;
    font-size: 60px;
    margin: 8px 0px 30px;
    line-height: 60px;
  }

  .hero-house-coffee-description {
    font-family: 'SharpSansDispNo2-Book', sans-serif;
    font-weight: normal;
    font-size: 17px;
    margin: 0px 0px 30px;
  }

  .house-coffee-text-bold {
    font-family: 'SharpSansDispNo2-Semibold', sans-serif;
    font-size: 17px;
  }
</style>
