---
import '@fontsource/poppins'
---

<nav class="flex justify-center px-[100px] py-2 w-screen">
  <div class="navbar-1 align-middle ml-0 mr-10 my-0 pl-4">
    <a href="/">
      <img
        width="200"
        height="108"
        src="https://7leavescafe.com/wp-content/uploads/2023/07/7-leaves-cafe-logo-red-transparent.png"
        alt="7 leaves logo"
        class="max-w-[120px]"
      />
    </a>
  </div>
  <div class="navbar-2 ml-0 mr-auto px-5 my-auto align-middle">
    <ul class="flex list-none">
      <li>
        <a class="px-5 py-[13px] text-sm uppercase" href="/rewards/">rewards</a>
      </li>
      <li>
        <a class="px-5 py-[13px] text-sm uppercase" href="/fundraising/"
          >fundraising</a
        >
      </li>
      <li>
        <a class="px-5 py-[13px] text-sm uppercase" href="/career/">career</a>
      </li>
    </ul>
  </div>
  <div class="navbar-3 ml-auto mr-0 my-auto">
    <div class="nav-location-wrapper inline-block align-middle">
      <span
        class="material-icons align-middle m-0 p-0 text-[18px] text-[#af1e26]"
      >
        location_on</span
      >
      <a class="pl-2 pr-[26px] py-4 text-sm" href="/locations/">Find a Store</a>
    </div>
    <div class="nav-menu-wrapper inline-block align-middle m-0 pl-0 pr-4 py-0">
      <a
        class="px-[26px] py-[14px] rounded-full bg-[#af1e26] text-[14px] text-white"
        href="/menu/">Our Menu</a
      >
    </div>
  </div>
</nav>

<style>
  a {
    font-family: poppins, sans-serif;
    color: #424242;
  }
</style>
