---
---
<div class="navbar">
    <div class="navbar-1">
        <a href="/">home</a>
    </div>
    <div class="navbar-2">
        <a href="/rewards/">rewards</a>
        <a href="/fundraising/">fundraising</a>
        <a href="/career/">career</a>
    </div>
    <div class="navbar-3">
        <a href="/locations/">locations</a>
        <a href="/menu/">menu</a>
    </div>
</div>