---
import '@fontsource/poppins'
import { Image } from 'astro:assets'
import sevenLeavesLogo from '../images/7-leaves-cafe-logo-red-transparent.png'
---

<nav
  class="fixed top-0 z-50 flex w-screen justify-center bg-white px-[100px] py-2"
>
  <div class="navbar-1 my-0 ml-0 mr-10 pl-4 align-middle">
    <a href="/">
      <Image
        width="200"
        height="108"
        src={sevenLeavesLogo}
        alt="7 leaves logo"
        class="max-w-[120px]"
        format="webp"
      />
    </a>
  </div>
  <div class="navbar-2 my-auto ml-0 mr-auto px-5 align-middle">
    <ul class="flex list-none">
      <li>
        <a class="px-5 py-[13px] text-sm uppercase" href="/rewards/">rewards</a>
      </li>
      <li>
        <a class="px-5 py-[13px] text-sm uppercase" href="/fundraising/"
          >fundraising</a
        >
      </li>
      <li>
        <a class="px-5 py-[13px] text-sm uppercase" href="/career/">career</a>
      </li>
    </ul>
  </div>
  <div class="navbar-3 my-auto ml-auto mr-0">
    <div class="nav-location-wrapper inline-block align-middle">
      <span
        class="material-icons m-0 p-0 align-middle text-[18px] text-[#af1e26]"
      >
        location_on</span
      >
      <a class="py-4 pl-2 pr-[26px] text-[15px]" href="/locations/"
        >Find a Store</a
      >
    </div>
    <div class="nav-menu-wrapper m-0 inline-block py-0 pl-0 pr-4 align-middle">
      <a
        class="rounded-full bg-[#af1e26] px-[26px] py-[14px] text-[15px] text-white"
        href="/menu/">Our Menu</a
      >
    </div>
  </div>
</nav>

<style>
  @font-face {
    font-family: 'SharpSansDispNo2-Semibold';
    src: url('/fonts/SharpSansDispNo2-Semibold.ttf');
    font-style: normal;
    font-display: swap;
  }
  a {
    font-family: 'SharpSansDispNo2-Semibold', sans-serif;
    color: #424242;
  }
</style>
